// Colors
$white: #FFFFFF;
$brown:#353337;
$yellow:#FCC340;
$grayishBlue: #9698A6;
$lightGrayishBlue: #F3F4F6;
$veryLightGray: #FAFAFA;

// Font Sizes
$font-sm: 14px;
$font-med: 18px;
$font-lg: 24px;
$font-xlg: 50px;